<h1>Template Driven Form</h1>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
    </div>
    
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
    </div>
    
    <div>
      <label for="country">Country:</label>
      <select id="country" name="country" [(ngModel)]="formData.country" required>
        <option value="">Select country</option>
        <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
      </select>
    </div>
    
    <div>
      <label for="hobby">Hobby:</label>
      <select id="hobby" name="hobby" [(ngModel)]="formData.hobby" required>
        <option value="">Select hobby</option>
        <option *ngFor="let hobby of hobbies" [value]="hobby">{{ hobby }}</option>
      </select>
    </div>
    
    <button type="submit">Submit</button>
  </form>
  
